
body{
            
    background-image: url(../images/cricket.jpg);
    background-repeat: no-repeat fixed;
}
h1{
    color:black;
}
div{
    display: flex;
    background-color: orange;
    align-items: center;
    justify-content: center;
    border-radius: 0px 2px 3px 2px solid rgb(0, 255, 115);
}
div:hover{
    background:linear-gradient(rgb(250,117,0),white,rgb(19,134,7)) ;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
h1:hover{
    color: black;
}
div>.division{
    display: flex;
    color: yellow;
    background-color: black;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}